# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

/quick-books-ui*~
/quick-books-ui*.sw[mnpcod]
/quick-books-ui.tmp
/quick-books-ui*.tmp
/quick-books-ui*.tmp.*
/quick-books-ui*.sublime-project
/quick-books-ui*.sublime-workspace
/quick-books-ui.DS_Store
/quick-books-uiThumbs.db
/quick-books-uiUserInterfaceState.xcuserstate
/quick-books-ui$RECYCLE.BIN/

/quick-books-ui*.log
/quick-books-uilog.txt
/quick-books-uinpm-debug.log*

/quick-books-ui/.angular
/quick-books-ui/.idea
/quick-books-ui/.ionic
/quick-books-ui/.sass-cache
/quick-books-ui/.sourcemaps
/quick-books-ui/.versions
/quick-books-ui/.vscode
/quick-books-ui/coverage
/quick-books-ui/dist
/quick-books-ui/node_modules
/quick-books-ui/platforms
/quick-books-ui/plugins
/quick-books-ui/www

/quick-books/HELP.md
/quick-books/target/
/quick-books/!.mvn/wrapper/maven-wrapper.jar
/quick-books/!**/src/main/**/target/
/quick-books/!**/src/test/**/target/

### STS ###
/quick-books/.apt_generated
/quick-books/.classpath
/quick-books/.factorypath
/quick-books/.project
/quick-books/.settings
/quick-books/.springBeans
/quick-books/.sts4-cache

### IntelliJ IDEA ###
/quick-books/.idea
/quick-books/*.iws
/quick-books/*.iml
/quick-books/*.ipr

### NetBeans ###
/quick-books/nbproject/private/
/quick-books/nbbuild/
/quick-books/dist/
/quick-books/nbdist/
/quick-books/.nb-gradle/
/quick-books/build/
/quick-books/!**/src/main/**/build/
/quick-books/!**/src/test/**/build/
/quick-books/mvnw
/quick-books/mvnw.cmd
/quick-books/.mvn

### VS Code ###
/quick-books/.vscode/



