ion-icon {
  height: 100%;
}

.summary {
  ion-col {
    border-width: 1px;
    border-style: solid;
    border-color: grey;
  }

}

ion-checkbox{
    margin-right: 5px;
}

ion-text{
    margin-right: 5px;
}
