ion-icon {
  height: 100%;
}

.summary {
  ion-col {
    border-width: 1px;
    border-style: solid;
    border-color: grey;
  }

}

select {
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding-top: 18px;
    //color: red;
    font-size: 16px;
    font-weight: 600;
    border-color: silver;
}

.error {
    @extend .message-class;
    background-color: red;
}

.success {
    @extend .message-class;
    background-color: green;
}

.message-class {
    position: fixed;
    color: var(--ion-color-primary-contrast);
    font-weight: 600;
    left: 30%;
}


ion-checkbox{
    margin-right: 5px;
}

ion-text{
    margin-right: 5px;
}
